*{
    margin: 0px;
    padding:0px;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #EAECEE;
    position: relative;
}

#logo{
    text-align: center;
    padding: 15px;
    background-color: white;
}
#logo img{
    width: 200px;
    display: block;
    margin: auto;
}

#logo li {
    display: inline-block;
}
#logo li i{
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 10px;
}

#conteudo{
    margin: 10px;
}
#menu_horizontal{
    background: #AF7AC5;
    padding: 10px;
    text-align: center;
}

#menu_horizontal ul {
list-style: none;
}

#menu_horizontal li{
    display: inline-block;
}

#menu_horizontal li a{
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    padding: 5px;
    
}

#menu_horizontal ul .primeiro a{
    border-left: none;
}

.teste li{
    display: inline-block;
    vertical-align: bottom;
    padding: 10px;
 
}
.teste p{
text-align: center;
}

.teste img{
    border: white 8px solid;
    width: 300px;
    display: block;
}

i{
    color: #000;
    padding-right: 10px;
}

h3{
    padding: 10px;
}
#footer{
    text-align: center;
    background: #AF7AC5;
    padding: 15px;
    color: white;
}
